@font-face {
    font-family: "FilthAOE";
    font-style: normal;
    font-weight: 400;
    /* The browser will first try to find the correct font */
    src: local("FilthAOE"),
        /* If it doesn't work, download woff2 */ url("/static/core/fonts/FilthAOE.woff2") format("woff2"),
        /* If the browser does not support woff2, it will load woff */ url("/static/core/fonts/FilthAOE.woff")
            format("woff");
}

body {
    background-image: url("/static/images/staff_only/background.jpg");
    font-family: "FilthAOE", "Arial", sans-serif;
    color: #8b0000;
    font-size: 200%;
}

h1 {
    font-family: "FilthAOE", "Arial", sans-serif;
    color: #8b0000;
    font-size: 300%;
}

.card-body {
    background-image: url("/static/images/staff_only/posts_body.jpg");
}

textarea {
    background-image: url("/static/images/staff_only/posts_body.jpg");
}

input,
select {
    background-image: url("/static/images/staff_only/card_h_f.png");
}

section {
    text-align: center;
}

.form-control {
    color: #8b0000;
    font-size: 100%;
}

.card-header,
.card-footer {
    background-image: url("/static/images/staff_only/card_h_f.png");
}

.submit-row {
    text-align: right;
}

.button {
    background-image: url("/static/images/staff_only/buttons.jpg");
}

.page-link {
    color: darkred;
}
