[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
Pillow = "*"
django-ckeditor = "*"

[dev-packages]
django-debug-toolbar = "*"
mysqlclient = "*"
psycopg2 = "*"

[requires]
python_version = "3.9"
