{% extends 'base.html' %}

{% block title %}Sign up{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-7">
            <h1 class="col text-center">Sign up</h1>
            <form method="post" action=".">
                {% csrf_token %}
                {{ form}}
                <div class="submit-row">
                    <input class="button" type="submit" value="SIGN UP">
                </div>
            </form>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
{% endblock content %}