{% extends 'base.html' %}

{% block title %}Nightmares{% endblock title %}
{% block content %}
<div class="container">
    <h1>Nightmares</h1>
    <div class="row">
        {% for post in posts %}
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-header">
                    <div class="container">
                        <div class="row">
                            <div class="col text-start">
                                Author: {{ post.user }}
                            </div>
                            <div class="col text-end">
                                Created at: {{ post.created_at }}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <h1 class="card-title">{{ post.title }}</h1>
                    <p class="card-text">{{ post.content|truncatewords:100 }}</p>
                    <input class="button" type="submit" value="Read more..." name="_goto"
                        onclick="document.location='{% url 'post_view' post.id %}'">
                </div>
                <div class="card-footer text-muted">
                    <div class="container">
                        <div class="row">
                            <div class="col text-start">
                                Updated at: {{ post.updated_at }}
                            </div>
                            <div class="col text-end">
                                Likes: {{ post.likes }} | Dislikes: {{ post.dislikes }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}